* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-theme-1 {
  background-color: #35393C !important;
}

.bg-theme-active-1 {
  background-color: #484e52 !important;
}

.text-theme-1 {
  color: #35393C !important;
}

.fill-theme-1 {
  fill: #35393C !important;
}

.btn-theme-1 {
  border-color: #35393C;
  background-color: #35393C;
}

a.text-theme-1 {
  color: #5b6267 !important;
}

a.text-theme-1:hover {
  color: #35393C !important;
}

.bg-theme-2 {
  background-color: #DEE0E2 !important;
}

.bg-theme-active-2 {
  background-color: #f4f4f5 !important;
}

.text-theme-2 {
  color: #DEE0E2 !important;
}

.fill-theme-2 {
  fill: #DEE0E2 !important;
}

.btn-theme-2 {
  border-color: #DEE0E2;
  background-color: #DEE0E2;
}

a.text-theme-2 {
  color: white !important;
}

a.text-theme-2:hover {
  color: #DEE0E2 !important;
}

.bg-theme-3 {
  background-color: #FEC753 !important;
}

.bg-theme-active-3 {
  background-color: #fed47c !important;
}

.text-theme-3 {
  color: #FEC753 !important;
}

.fill-theme-3 {
  fill: #FEC753 !important;
}

.btn-theme-3 {
  border-color: #FEC753;
  background-color: #FEC753;
}

a.text-theme-3 {
  color: #fee1a4 !important;
}

a.text-theme-3:hover {
  color: #FEC753 !important;
}

.bg-theme-4 {
  background-color: #FFFFFF !important;
}

.bg-theme-active-4 {
  background-color: white !important;
}

.text-theme-4 {
  color: #FFFFFF !important;
}

.fill-theme-4 {
  fill: #FFFFFF !important;
}

.btn-theme-4 {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}

a.text-theme-4 {
  color: white !important;
}

a.text-theme-4:hover {
  color: #FFFFFF !important;
}

.bg-theme-5 {
  background-color: #8A4BDE !important;
}

.bg-theme-active-5 {
  background-color: #a06de4 !important;
}

.text-theme-5 {
  color: #8A4BDE !important;
}

.fill-theme-5 {
  fill: #8A4BDE !important;
}

.btn-theme-5 {
  border-color: #8A4BDE;
  background-color: #8A4BDE;
}

a.text-theme-5 {
  color: #b790eb !important;
}

a.text-theme-5:hover {
  color: #8A4BDE !important;
}

.bg-theme-yellow {
  background-color: #ffb100 !important;
}

.text-theme-yellow {
  color: #ffb100 !important;
}

.sticky-top.navbar-light .navbar-brand h1 {
  color: #FEC753;
}

.hero-header {
  background-image: url("../../template/template1/img/blob-top-left.png"), url("../../template/template1/img/blob-top-right.png"), url("../../template/template1/img/blob-bottom-left.png"), url("../../template/template1/img/blob-bottom-right.png"), url("../../template/template1/img/blob-center.png"), url("../../template/template1/img/bg-bottom.png?v=2");
  background-position: left 0px top 0px, right 0px top 0px, left 0px bottom 0px, right 0px bottom 0px, center center, center bottom;
  background-size: auto, auto, auto, auto, auto, contain;
  background-repeat: no-repeat;
}

.footer {
  background: url("../../template/template1/img/bg-top.png?v=2"), url("../../template/template1/img/map.png");
  background-position: center top, center center;
  background-size: contain, auto;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=jaydai-style.css.map */